@require 'normalize.css/normalize.css'
@require 'jeet'

// Variables

$background-color = #fff
$text-color = #333

$link-color = rgb(135, 100, 207)
$link-hover-color = rgb(108, 67, 193)
$link-active-color = rgb(69, 40, 128)

$dark-background-color = #222
$dark-text-color = #fafafa

// Top-level elements

body
  background $background-color
  color $text-color
  font: 1em/1.5em sans-serif
  &.dark
    background $dark-background-color
    color $dark-text-color

a
  text-decoration none
  &:link, &:visited
    color $link-color
  &:hover
    color $link-hover-color
  &:active
    color $link-active-color

blockquote
  border-left #ccc 2px solid
  margin 20px 40px
  padding 5px 10px
  p:first-child
    margin-top: 0
  p:last-child
    margin-bottom: 0

hr
  border: none
  border-top: #ccc 2px solid
  margin 40px 0

img
  max-width 100%

pre
  background #eee
  color #222
  font-family monospace
  padding 20px

table
  border #ccc 1px solid
  padding 10px
  width 100%
  tr
    & td, & th
      padding 10px
  thead
    background #ddd
  tbody
    tr:nth-child(even)
      background #eee

.dark
  blockquote
    border-color #555
  hr
    border-color: #777
  pre
    background: #000
    color: #eee
  table
    border-color #444
    thead
      background #111
    tbody
      tr:nth-child(even)
        background #444

// Twine elements

tw-storydata
  display none

// Custom elements

#story
  center()
  margin 50px auto
  max-width 700px
  padding 0 20px
  @media screen and (max-width: 600px)
    margin 20px auto

#passage, #header, #footer
  col(3/3)

#passage
  padding 20px 0

#footer
  color #aaa

#header, #footer
  p
    &:first-child
      margin-top 0
    &:last-child
      margin-bottom 0

.hidden
  display none